node_modules
.DS_Store
.next
*.local
.env
todos.json
data/leetcode-cache.json
data/*.sqlite
data/*.sqlite-*
.vercel

# OpenNext
.open-next

# wrangler files
.wrangler
.dev.vars*
!.dev.vars.example
!.env.example
